.bubbles {
    margin: 50px auto;
    height: 50px;
    width: 500px;
}

.bubbles .bubble {
    float: left;
    height: 50px;
    width: 50px;
    opacity: 0;
    background-color: orange;
    border-radius: 25px;
}

.slider {
    margin: 50px auto;
    height: 50px;
    width: 500px;
    border: 1px solid black;
}

.slider .sliderRect {
    width: 50px;
    height: 50px;
    background-color: #ffc520;
}

.pulsation {
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background: #ff0000;
}